.navbar .nav-link {
  padding-left: 25x !important;
  padding-right: 25px !important;
  font-size: 1.2rem;
  text-transform: uppercase; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/6284.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/6284.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/6284.jpg");
  background-size: cover; }
